<%= turbo_frame_tag "#{dom_id(followee)}-follow-request-buttons" do %>
  <% following = local_assigns[:following] || Following.find_by(follower: follower, followee: followee) %>
  <div>
    <% if following.present? %>
      <%= form_with(model: following, url: following_path(following), method: :delete) do |f| %>
        <%= f.submit "Cancel follow request", class: "btn btn--negative" %>
      <% end %>
    <% else %>
      <%= form_with(model: Following.new, url: followings_path, method: :post) do |f| %>
        <%= f.hidden_field :followee_id, value: followee.id %>
        <%= f.hidden_field :status, value: :requested %>
        <%= f.submit "Request to Follow", class: "btn btn--positive" %>
      <% end %>
    <% end %>
  </div>
<% end %>
