<div id="<%= dom_id(profile) %>-full" class="flex flex-col gap">
  <div class="card border-dark">
    <%= render partial: "profiles/personal_details", locals: { profile: profile } %>
  </div>
  <% if current_user == profile.user %>
    <%= render partial: "notifications/notifications", locals: { profile: profile } %>
    <%= render partial: "followings/followings", locals: { followings: followings } %>
  <% end %>
  <%= render partial: "posts/posts", locals: { posts: profile.user.authored_posts, title: "Posts", variant: :preview }  %>
</div>
