<div id="<%= dom_id @profile %>" class="card bg-main">

  <%= form_with model: @profile, method: :patch, class: "flex flex-col gap " do |f| %>

    <% if @profile.errors.any? %>
      <div class="border-dark rounded bg-shade text-negative p-6">
        <% @profile.errors.each do |error| %>
          <div>
            <%= error.full_message %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="flex flex-col gap">
      <div class="flex flex-col gap-half">
        <%= f.label :username %>
        <%= f.text_field :username, class: "input bg-shade border-dark" %>
      </div>
      <div class="flex flex-col gap-half">
        <%= f.label :display_name %>
        <%= f.text_field :display_name, class: "input bg-shade border-dark" %>
      </div>

      <p>Avatar</p>
      <%= tag.div class: "flex items-center gap",
                  data: {
                    controller: "upload-preview",
                    upload_preview_default_image_value: asset_url("default-picture.webp")
                  } do %>
        <%= f.label :avatar, "Avatar Preview", class: "btn btn--icon"  do %>

          <%= f.file_field :avatar, class: "sr-only", accept: "image/*",
                data: { upload_preview_target: "input", action: "upload-preview#previewImage" } %>
          <%= image_tag "camera.svg", aria: { hidden: true } %>
          <span class="sr-only">Upload avatar</span>

        <% end %>

        <div class="avatar" style="--avatar-size: 100px;">
          <%= image_tag avatar_url(@profile.user), size: 100, alt: "Avatar", data: { upload_preview_target: "image" } %>
        </div>

        <label class="btn btn--icon btn--negative" data-action="click->upload-preview#clear">
          <%= hidden_field_tag "remove_avatar", false, data: { upload_preview_target: "removeInput" } %>
          <%= image_tag "minus.svg", size: 20, aria: { hidden: true } %>
          <span class="sr-only">Remove avatar</span>
        </label>
      <% end %>
    </div>

    <div id="edit-profile-form-actions" class="flex gap justify-end">
      <div>
        <%= f.submit "Update Profile", class: "btn btn--positive" %>
      </div>
      <div>
        <%= link_to "Discard changes", profile_path, class: "btn btn--negative" %>
      </div>
    </div>
  <% end %>

</div>
