<div id="<%= dom_id(comment) %>"class="flex flex-col gap-half" data-controller="commentable">
  <div class="card border mis-8">
    <% if comment.soft_deleted? %>
      <em class="text-subtle">
        <%= comment.body %>
      </em>
    <% else %>
      <div class="flex gap items-center">
        <%= link_to(user_path(comment.author)) do %>
          <div class="border p-2 rounded-full avatar",  style="--avatar-size: 50px;">
            <%= image_tag(avatar_url_for(comment.author), alt: "Avatar for #{comment.author.display_name}", class: "avatar rounded-full object-cover") %>
          </div>
        <% end %>
        <div class="text-subtle">
          <em>
            <%= link_to(comment.author.display_name, user_path(comment.author)) %> -- <%= time_ago_in_words(comment.created_at) %> ago
          </em>
        </div>
      </div>
      <hr>
      <div class="p-8">
        <%= comment.body %>
      </div>
      <hr>
      <div id="actions" class="flex gap justify-end">
        <% if current_user == comment.author %>
          <div id="author-actions"class="flex gap underline items-center">
            <%= link_to "Delete", comment_path(comment), data: { turbo_method: :delete } %>
          </div>
        <% else %>
          <%= render partial: 'likes/button', locals: { likeable: comment, post_id: comment.top_level_post_id } %>
        <% end %>
        <%= render 'comments/reply' %>
      </div>
    <% end %>
  </div>
  <% if !comment.soft_deleted? %>
    <%= render partial: 'comments/form', locals: { commentable: comment, comment: Comment.new } %>
  <% end %>
</div>
<%= render partial: "comments/comments", locals: { commentable: comment } %>
