<div class="card border flex flex-col gap mis-8 hide@sm" data-commentable-target="formContainer">
  <%= form_with(model: comment, html: { contents: true },
                data: { commentable_target: "form", action: "turbo:submit-end->commentable#resetForm" }) do |form| %>
    <% if comment.errors.any? %>
      <div class="alert alert--negative flex flex-col gap-half mbe-4" role="alert">
        <h2 class="font-medium leading-none"><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul class="text-sm mis-3" style="list-style: disc">
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="flex flex-col gap">
      <%= form.hidden_field :commentable_id, value:  commentable.id %>
      <%= form.hidden_field :commentable_type, value:  commentable.class.name %>
    </div>
    <div class="flex flex-col gap">
      <%= form.label :body, class: "text-sm font-medium leading-none sr-only" %>
      <%= form.text_area :body, wrap: :soft, cols: 20, rows: :auto,
                         class: "input",
                         data: { commentable_target: "input" } %>
    </div>
    <div class="actions flex gap justify-end">
      <%= link_to("discard Comment", "#",
                  class: "btn btn--negative",
                  data: { action: "click->commentable#discardComment" }) %>
      <%= form.submit("Add comment", class: "btn btn--primary") %>
    </div>
  <% end %>
</div>
