<div id="<%= dom_id(post) %>" class="card border-dark flex">
  <div class="flex flex-col gap">
    <div class="avatar border p-2 ",  style="--avatar-size: 100px;">
      <%= image_tag(avatar_url_for(post.author), alt: "Avatar", class: "avatar rounded-full object-cover") %>
    </div>
    <div class="text-xs text-center text-subtle">
      <%= time_ago_in_words(post.created_at) %> ago
    </div>
  </div>
  <div class="flex flex-col gap mis-8 pis-8 border-is prose grow">
    <h3 class="mb">
      <%= post.title %>
    </h3>
    <div>
      <%= post.content %>
    </div>
    <div class="text-end text-subtle text-sm">
      <em>-- <%= post.author.display_name %> (@<%= post.author.username %> )</em>
    </div>
    <div id="actions" class="flex gap justify-end items-bottom">
      <% if current_user.id == post.author_id %>
        <div>
          <%= link_to "Edit this post", edit_post_path(post), class: "btn btn--secondary"  %>
        </div>
        <div>
          <%= link_to "Destroy this post", post, class: "btn btn--negative", data: { turbo_method: :delete }  %>
        </div>
      <% else %>
        <%= render partial: 'likes/button', locals: { likeable: post, post_id: post.id } %>
      <% end %>
      <%= render 'comments/reply' %>
    </div>
  </div>
</div>
