<div id="<%= dom_id post %>" class="card prose bg-main">
  <h3 class="mb">
    <%= post.title %>
  </h3>
  <div>
    <p>
      <%= post.body %>
    </p>
  </div>
  <div class="text-end">
    <%= post.author.display_name %> (@<%= post.author.username %> )
  </div>
  <div class="mb-4 border-dark">
    <%= post.published_at %>
  </div>
  <div>
    <%= link_to "Show this post", post %>
  </div>
</div>
