<div id="<%= dom_id post %>" class="card flex">
  <div class="flex flex-col gap">
    <div class="avatar border p-2 ",  style="--avatar-size: 100px;">
      <%= image_tag(avatar_url_for(post.author), alt: "Avatar", class: "avatar rounded-full object-cover") %>
    </div>
    <div class="text-xs text-center text-subtle">
      <%= time_ago_in_words(post.created_at) %> ago
    </div>
  </div>
  <div class="flex flex-col gap mis-8 pis-8 border-is  prose grow">
    <h3 class="mb">
      <%= post.title %>
    </h3>
    <div>
      <%= post.content.to_plain_text.truncate_words(20) %>
    </div>
    <div class="text-end text-subtle text-sm">
      <em>-- <%= post.author.display_name %> (@<%= post.author.username %> )</em>
    </div>
    <div>
      <%= link_to "Show full post", post %>
    </div>
  </div>
</div>
