<div id="sidebar-left">
  <div class="grow container flex flex-col">
    <nav class="grow flex flex-col justify-between p-4">
      <ul class="flex flex-col gap">
        <% if user_signed_in? && current_user&.profile.persisted? %>
          <li class="nav-item flex gap justify-start items-center">
            <%= image_tag("icons/home.svg", size: 20, aria: { hidden: true }, class: "colorize-black") %>
            <%= link_to("My Feed", posts_path({ filter: :following }), class: "text-lg") %>
          </li>
          <li class="nav-item flex gap justify-start items-center">
            <%= image_tag("icons/sparkles.svg", size: 20, aria: { hidden: true }, class: "colorize-black") %>
            <%= link_to("Discover", posts_path({ filter: :discover }), class: "text-lg") %>
          </li>
          <li class="nav-item flex gap justify-start items-center">
            <%= image_tag("icons/users.svg", size: 20, aria: { hidden: true }, class: "colorize-black") %>
            <%= link_to("Users", users_path, class: "text-lg") %>
          </li>
          <li class="nav-item flex gap justify-start items-center">
            <%= image_tag("icons/user-circle.svg", size: 20, aria: { hidden: true }, class: "colorize-black") %>
            <%= link_to("Profile", profile_path, class: "text-lg") %>
          </li>
          <% if Rails.env.development? %>
            <li class="nav-item flex gap justify-start items-center">
              <%= image_tag("icons/command-line.svg", size: 20, aria: { hidden: true }, class: "colorize-black") %>
              <%= link_to("Developer Console", static_dev_console_path, class: "text-lg") %>
            </li>
          <% end %>
        <% end %>
        <% if !user_signed_in? %>
          <li class="flex gap justify-start items-center">
            <%= image_tag("icons/user-plus.svg", size: 20, aria: { hidden: true }, class: "colorize-black") %>
            <%= link_to("Sign up", new_user_registration_path, class: "text-lg") %>
          </li>
          <li class="flex gap justify-start items-center">
            <%= image_tag("icons/arrow-right-end-on-rectangle.svg", size: 20, aria: { hidden: true }, class: "colorize-black") %>
            <%= link_to("Log in", new_user_session_path, class: "text-lg") %>
          </li>
        <% end %>
      </ul>
      <ul class="flex flex-col gap">
        <% if user_signed_in? %>
          <li class="flex gap justify-start items-center">
            <%= image_tag("icons/arrow-left-start-on-rectangle.svg", size: 20, aria: { hidden: true }, class: "colorize-black") %>
            <%= link_to("Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-lg") %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
