<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Odinbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :all, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="dark double-sidebar-layout">
    <header id="header" class="">
      <div class="container">
        <h1 class="font-bold text-2xl">Odinbook</h1>
      </div>
      <div data-controller="dark-mode" class="flex gap justify-end avatar">
        <%= image_tag("icons/moon.svg", size: 30, class: "btn btn--icon hide@sm", aria: { hidden: true }, data: { dark_mode_target: "darkIcon", action: 'click->dark-mode#toggleTheme'}) %>
        <%= image_tag("icons/sun.svg", size: 30, class: "btn btn--icon hide@sm", aria: { hidden: true }, data: { dark_mode_target: "lightIcon", action: 'click->dark-mode#toggleTheme'}) %>
      </div>
    </header>
    <div id="sidebar-left">
      <div class="grow container flex flex-col">
        <%#= yield(:sidebar) %>
        <%= render "shared/sidebar" %>
      </div>
    </div>
    <main id="main">
      <div class="container flex flex-col gap">
        <%= link_to "Back", "#", class: "font-medium underline", data: { controller: "navigation", action: "navigation#back:prevent" } %>
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </main>
    <div id="sidebar-right" class="container">
      <% if user_signed_in? %>
        <%= render partial: "notifications/notifications", locals: { user: current_user }, class: "sticky" %>
      <% end %>
    </div>
  </body>
</html>
